*{
	color: #fff;	
}
#food{
	font-size: 3em;
	font-family: 'Teko', sans-serif;
	color:  #51ff0d ;

}
.bktop{
	color: #f3f3f3;
	font-family: 'Ubuntu', sans-serif;
}
body{
	
	background-color: #282828;
}
hr{
height: 1px;
background-color: #ccc;
border: none;
}
.con{
	border: 4px solid skyblue;
	border-style: solid ;
	border-radius: 5px;
	margin:auto;
	padding: 1vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
	font-family: 'Roboto', sans-serif;
}
h3{
	font-family: 'Libre Baskerville', serif;
	padding-bottom: 5px;
	margin-bottom: 5px;
}